/*
    auteur: Charles Bourgeois et Jérémie Lacroix
*/
body{

    background-color:antiquewhite;
}

.blackBordure {
    border: 1px solid black;
}

.main-contact {
    display: grid;
    grid-template-columns: 25% 20% 40% 11.5% 3.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.main-header{
    overflow-y:hidden;
    overflow-x:hidden;
    border:double 3px black;
    background-color:azure;
    padding:5px;
    text-align:left;
    color:black;
}
.main-container {
    border:3px black double;
    background-color:azure;
}
.main-contact-container {
    display: grid;
    grid-template-columns: 25% 20% 40% 11.5% 3.5%;
    padding: 5px;
    text-align: right;
}
.main-list {
    height: 400px;
}
.main-contact-list {
    display: grid;
    grid-template-columns: 25% 20% 40% 5% 10%;
    text-align: left;
    padding: 1px;
    border: double 3px black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.oddRow {
    background-color: white;
}

.evenRow {
    background-color: azure;
}

.cell {
    height: 45px;
    cursor: pointer;
    font-size: 16px;
}

.selectedRow {
    background-color: darkgray;
}
