/*
    auteur: Charles Bourgeois et Jérémie Lacroix
*/
body{
    background-color:antiquewhite;
}

.blackBordure {
    border: 1px solid black;
}

.main-contact{
    display:grid;
    grid-template-columns:25% 20% 40% 5% 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    
}
.main-header{
    overflow-y:hidden;
    overflow-x:hidden;
    border:double 3px black;
    background-color:azure;
    padding:5px;
    text-align:left;
    color:black;
}
.main-container {
    border:3px black double;
    background-color:azure;
}
.main-contact-container {
    display: grid;
    grid-template-columns: 25% 20% 40% 7% 8%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding:5px;
}

.main-list {

}
.main.main-contact-list{


}

