/*
    auteur: Charles Bourgeois et Jérémie Lacroix
*/
body{

    background-color:antiquewhite;
}

.blackBordure {
    border: 1px solid black;
}

.main-contact {
    display: grid;
    grid-template-columns: 25% 20% 40% 11.5% 3.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:black;
    padding:10px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.main-header{
    overflow-y:hidden;
    overflow-x:hidden;
    border:solid 1px black;
    background-color: whitesmoke;
    text-align:left;
}
.main-container {
    border:1px black solid;
    background-color:azure;

}
.main-contact-container {
    display: grid;
    grid-template-columns: 25% 20% 40% 11.5% 3.5%;
    padding: 5px;
    text-align: right;

}
.main-list {
    height: 400px;
}
.main-contact-list {
    display: grid;
    grid-template-columns: 25% 20% 40% 5% 10%;
    text-align: left;
    padding: 1px;
    border: solid 1px black;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.oddRow {
    background-color: white;
}

.evenRow {
    background-color: rgb(232,232,232);
}

.cell {
    height: 45px;
    cursor: pointer;
    font-size: 16px;
}

.selectedRow {
    background-color: lightgray;
}
